dz16/.vagrant/machines/log/virtualbox/action_set_name
dz16/.vagrant/machines/log/virtualbox/box_meta
dz16/.vagrant/machines/log/virtualbox/creator_uid
dz16/.vagrant/machines/log/virtualbox/id
dz16/.vagrant/machines/log/virtualbox/index_uuid
dz16/.vagrant/machines/log/virtualbox/private_key
dz16/.vagrant/machines/log/virtualbox/vagrant_cwd
dz16/.vagrant/machines/web/virtualbox/action_set_name
dz16/.vagrant/machines/web/virtualbox/box_meta
dz16/.vagrant/machines/web/virtualbox/creator_uid
dz16/.vagrant/machines/web/virtualbox/id
dz16/.vagrant/machines/web/virtualbox/index_uuid
dz16/.vagrant/machines/web/virtualbox/private_key
dz16/.vagrant/machines/web/virtualbox/vagrant_cwd
dz16/.vagrant/rgloader/loader.rb
dz16/.vagrant/machines/web/virtualbox/action_provision
