[defaults]
inventory      = hosts
sudo_user      = root
timeout        = 10
host_key_checking = False
command_warnings = False

[colors]
highlight = white
verbose = blue
warn = bright purple
error = red
debug = dark gray
deprecate = purple
skip = cyan
unreachable = red
ok = green
changed = yellow
diff_add = green
diff_remove = red
diff_lines = cyan
