<VirtualHost *:80>
  DocumentRoot /data/nextcloud/
  ServerName nc.local
  #ServerName  {{ inventory_hostname }}.local
  #ServerName  {{ ansible_default_ipv4.address }}
  #ServerName {{ ansible_ssh_host }}

  <Directory /data/nextcloud/>
    Require all granted
    AllowOverride All
    Options FollowSymLinks MultiViews

    <IfModule mod_dav.c>
      Dav off
    </IfModule>
  </Directory>
</VirtualHost>