<VirtualHost *:80>
  DocumentRoot {{nc_data_files}}/nextcloud
  ServerName nc.local

  <Directory {{nc_data_files}}/nextcloud>
    Require all granted
    AllowOverride All
    Options FollowSymLinks MultiViews

    <IfModule mod_dav.c>
      Dav off
    </IfModule>
  </Directory>
</VirtualHost>