<VirtualHost *:80>
  DocumentRoot /data/nextcloud/
  ServerName  {{ inventory_hostname }}.local

  <Directory /data/nextcloud/>
    Require all granted
    AllowOverride All
    Options FollowSymLinks MultiViews

    <IfModule mod_dav.c>
      Dav off
    </IfModule>
  </Directory>
</VirtualHost>