<?php
$CONFIG = array (
  'instanceid' => 'oc11dudfeyz7',
  'passwordsalt' => 'a2yDng+tNQjymmUZdF9dY7H8z90aa0',
  'secret' => 'LII4XHIYC82ZhAKFmj5xCOL0BACIsq3yHKf+Hzr8DCKttKpp',
  'trusted_domains' => 
  array (
    0 => '*',
    1 => 'nc.local',
  ),
  'datadirectory' => '{{ nc_data_files }}/nextcloud/data',
  'dbtype' => 'mysql',
  'version' => '29.0.2.2',
  'overwrite.cli.url' => 'http://nc.local',
  'dbname' => '{{ nc_database }}',
  'dbhost' => '{{ master_host }}:3306',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'mysql.utf8mb4' => true,
  'dbuser' => '{{ mysql_nextcloud_user }}',
  'dbpassword' => '{{ mysql_nextcloud_user_pass }}',
  'installed' => true,
  'log_type' => 'file',
  'logfile' => 'nextcloud.log',
  'loglevel' => 3,
  'logdateformat' => 'F d, Y H:i:s',
);
