127.0.0.1 localhost
::1         localhost
127.0.1.1 vagrant


#127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
#::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for item in groups.all %}
{{ hostvars[item].ansible_all_ipv4_addresses | ansible.netcommon.ipaddr(network) | first }} {{ hostvars[item].ansible_hostname }}
{% endfor %}