#worker_processes 1;

#events {
#    worker_connections 1024;
#}

#http {
    upstream backend {
    {% for node in db_nc_access_hosts %}
        {% if loop.first %}
        server {{ node }}:80;
        {% else %}
        server {{ node }}:80 backup;
        {% endif %}
    {% endfor %}
        keepalive 32;
   }

     proxy_connect_timeout   5s;
     proxy_send_timeout      60s;
     proxy_read_timeout      60s;


server {
        listen 80;
        server_name nc.local;
        return 301 https://nc.local$request_uri;
#        location / {
#                include proxy_params;
#                proxy_pass http://backend;
#                proxy_redirect off;
#                proxy_http_version 1.1;
#                proxy_set_header Upgrade $http_upgrade;
#                proxy_set_header Connection "upgrade";
#        }
}        

server {
    listen 443 ssl;
    server_name {{ nc_url }};

    ssl_certificate {{ ssl_certificate}};
    ssl_certificate_key {{ ssl_certificate_key }};

    location / {
        proxy_pass http://backend;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
    }
}
#}